body {
    margin: 20px;
    font-family: sans-serif;
    font-size: 11pt;
    line-height: 16pt;
}

h1 {
    line-height: 26pt;    
}

div {
    max-width: 520px;
}

div.generated_description {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #00e699;
    padding: 0 0 0 20px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #00e699;
    font-size: 15pt;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
